body {
  margin: auto;
  padding: 0;
  overflow-x:hidden;
}

h1 {
  font-size:50px;
}

p {
  font-size:20px;
}

html {
  font-family:MuseoModerno;
  scroll-behavior: smooth;
}

#icon {
  width:50px;
  height:50px;
  vertical-align: middle;
}

li {
  display:inline-block;
}

.menu-bar {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0;
  width: 100%;
}

/* Links inside the menu-bar */
.menu-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition:0.3s;
  border-radius:40px;
  font-size:20px;
  z-index:100;
}

/* Change background on mouse-over */
.menu-bar a:hover {
  background: rgb(54, 70, 216);
  font-size:25px;
}

animate__animated, animate__zoomInOut {
  z-index:-10000;
}

/* Main content */
.main {
  margin-top: 30px; 
}

 .title {
  background-image:url("https://image.freepik.com/free-vector/abstract-fluid-background_52683-36428.jpg");
  padding-top:300px;
  padding-bottom:10px;
  text-align: center;
  background-blend-mode: darken;
  color:white;
  height:600px;
  background-size:cover;
  background-attachment: fixed;
  vertical-align: middle;
}

.title p {
  font-size:25px;
}

.title #heading {
  font-size:90px;
  margin:0;
  padding-bottom:30px;
}


.title h1 {
  font-size:30px;
  margin:0;
  padding:0;
}

footer {
  text-align: center;
  font-size:5px;
  padding:3px;
  margin:0;
  line-height:1px;
  background:linear-gradient(blue, rgb(7, 97, 180));
  background-size:cover;
  color:white;
}

.button {
  background: linear-gradient(rgb(34, 109, 207), rgb(99, 175, 247));
  border-radius:40px;
  padding:10px 15px;
  color:white;
  text-decoration:none;
  transition:0.3s;
  text-align: center;
  margin:auto;
  horizontal-align:center;
}

.button:hover {
  background:yellow;
  color:black;
  padding:20px 20px;
}

.competitions {
  color:white;
  background:black;
  padding:100px;
  text-align:center;
  margin:auto;
}

.competitions p {
  margin:auto;
  width:75%;
}


.competitions table {
  margin:auto;
  text-align:center;
  padding-bottom:50px;
}
